* ::before ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: serif;
  font-weight: bold;
}

div {
  border: 0.5px solid white;
}

.grid__container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px auto auto 240px 100px 40px;
  grid-template-areas:
    "header header header header"
    "img img img img"
    "bnr bnr bnr bnr"
    "main main nav nav"
    "content content . ."
    "foot foot foot foot"
  ;
}

/* №1 Header section */
.headers__wrapper {
  display: grid;
  grid-template-columns: 70px auto;
  /* 1.1 fixed */
  grid-area: header;
}

.headers__wrapper>div {
  background: #7D44D6;
}

/* №2 Images section */
.images__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-area: img;
}

.images__wrapper img {
  width: 50px;
  height: 40px;
}

.images__wrapper>div {
  background: #956BD6;
}

/* №3 Banner section */
.banners__wrapper {
  display: grid;
  grid-template-columns: 1.4fr 3fr;
  grid-template-rows: 40px;
  grid-area: bnr;
}

.banners__wrapper>div {
  background: #4C2982;
}

/* №4 Main section */
.mainSection__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: main;
}

.mainSection__wrapper>div {
  background: #74217D;
}


/* №5 Content section */
.content__wrapper {
  background: #C861D3;
  grid-area: content;
}

/* №6 Navigation section */
.navigation__wrapper {
  background: #2F3584;
  align-self: start;
  grid-area: nav;
}

.navigation__wrapper li {
  list-style: none;
}

.navigation__wrapper a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* №7 Footer section */
.footer__wrapper {
  background: #7279D8;
  grid-area: foot;
}



/* *************************************************** */

/* Media (Above 1014)*/
@media only screen and (max-width: 1024px) {

  /* №2 Images section */
  .images__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }


}

/* *************************************************** */

/* Media (Up to 360)*/
@media only screen and (max-width: 360px) {

  .grid__container {

    grid-template-areas:
      "header header header header"
      "img img img img"
      "bnr bnr bnr bnr"
      "main main nav nav"
      "content content content content"
      "foot foot foot foot";
  }
  /* №1 Header section */
  .headers__wrapper {
    grid-template-columns: 2fr 1fr;
  }

  /* №2 Images section */
  .images__wrapper {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
  }

  /* №3 Banners section */
  .banners__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px;

  }
  /* №4 Main section */
  .mainSection__wrapper {
    grid-template-columns: 1fr;
  }

}
